---
// Astro Components
import Footer from '../components/footer.astro'
import Navigation from '../components/navigation.astro'

// CSS
import '../styles/global.css'

const pageTitle = "About Me"

const me = {
	name: "Diego",
	country: "Cuba",
	ocupation: "Web Developer",
	hobbies: ["coding", "bodybuilding", "videogames"]
}

const skills = ["HTML", "CSS", "JavaScript", "Astro", "Node.js"]

const skillColor = "navy"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

		<style define:vars={{skillColor}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<Navigation />
		<h1>{pageTitle}</h1>
        <h2>... and my astro site</h2>

        <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

		<p>Here's some ino about me:</p>
		<ul>
			<li>I'm {me.name}</li>
			<li>I live in {me.country}, and I work as a {me.ocupation}</li>
			{ me.hobbies.length >= 2 && 
			<li>Two of my hobbies are {me.hobbies[0]} and {me.hobbies[1]}</li>
			}
		</ul>
		<p>My skills are:
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</p>

		<Footer />
	</body>
</html>